{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block content %}
  <div class="container border-dark mb-3 my-5">
    <div class="row mt-5 mx-0 p-0 ">
      <h4 class=" ml-3 mt-5 card-title">About</h4>
      <div class="card-body text-dark">
        <p class="card-text">Today inBrief is a platform where online newspaper articles are presented in a concise summary.
          We currently supporting news summary from Daily monitor publication online articles. </p> 
        <p>Users can also use the functionality under the <a href="/summarizer"> summarizer</a> page, where you  can summarize your own text using our summarization models and get instant summary results in one place.  </p>
      </div>
    </div>
  </div>
  <hr/>
{% endblock %}