{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block content %}
  <div class="container card border-dark mb-3 my-5" style="width: 60%;">
    <!-- <div class=" " style="max-width: 18rem;"> -->
    <h4 class=" ml-3 mt-5 card-title">About</h4>
    <div class="card-body text-dark">
      <p class="card-text">Today inBrief is a platform where online newspaper articles are presented in a concise summary.
        Currently supporting news summary from the Daily monitor publication online articles. </p> 
      <p>User can also use the function under the <a href="/summarizer"> summarizer</a> page where you  can summarize your own text using our summarization models and get instant summary results in one place.  </p>
    </div>
  </div>
  <hr/>
{% endblock %}